<section class="hero is-primary is-bold is-full">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title">
            Eat-Da-Burger!
          </h1>
        </div>
        <div class="column is-one-fifth">
          <img src="/assets/img/img_545640.png" alt="simple illustration of a burger" style="height: 75px;">
        </div>
      </div>
    </div>
  </div>
</section>
<h2 class="is-size-5">Add a Burger to Eat</h2>

<form class="create-form">

  <div class="field">
    <div class="control">
      <div class="form-group">
        <input class="input is-primary" type="text" placeholder="Burger name" id="ca" name="name">
      </div>
    </div>
  </div>

  <button type="submit" class="button is-primary is-small">Add Burger</button>
</form><br>
<br>

<div class="columns">
  <div class="column is-half" <h2 class="is-size-5">Burgers I Want</h2> <br>

    <ul>
      {{#each borgors}}
      {{#unless devoured}}
      {{> borgors/burgerstoeat}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="column is-half">
    <h2 class="is-size-5">Burgers I Have Eaten</h2><br>

    <ul>
      {{#each borgors}}
      {{#if devoured}}
      {{> borgors/burgerseaten}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>