<li>
	{{burger_name}}

	{{!-- <button class="button is-primary is-light is-small" data-id="{{this.id}}" data-newmeal="{{this.devoured}}">
		I'VE BEEN EATEN!
	</button> --}}

	<button class="delete-burger button is-danger is-light is-small" data-id="{{this.id}}"><i class="fa fa-trash"></i></button>
</li>